# Database
DATABASE_URL="mysql://root:password@localhost:3306/lentera"

# App
PORT=4000
NODE_ENV=development

# CORS
CORS_ORIGIN="http://localhost:3000"

# JWT
JWT_ACCESS_SECRET="change-me-access-secret-256-bit"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change-me-refresh-secret-256-bit"
JWT_REFRESH_EXPIRES_IN="24h"

# MinIO
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_USE_SSL="false"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="lentera"
MINIO_PUBLIC_URL="http://localhost:9000"
